div{
    display: flex;
}
#header_1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    font-weight: bolder;
    
}
.cat{
    transition: transform 0.5s ease;
    border-radius: 10px;
    width: 400px;
    height: 300px;
    margin: 10px auto;
    text-align: center;
    line-height: 100px;
} 
.cat:hover{
    transform: rotate(10deg);
}